body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует содержимое по горизонтали */
    justify-content: center; /* Центрирует содержимое по вертикали */
    height: 100vh; /* Задает высоту в 100% от высоты окна */
    margin: 0; /* Убирает отступы по умолчанию */
    font-family: Arial, sans-serif; /* Задает шрифт */
    font-size: 120%;
}

.container {
    text-align: center; /* Центрирует текст внутри контейнера */
    border: 1px solid #ccc; /* Добавляет рамку вокруг контейнера */
    padding: 20px; /* Добавляет внутренние отступы */
    border-radius: 8px; /* Закругляет углы рамки */
    background-color: #f9f9f9; /* Цвет фона контейнера */
}

table {
    margin-top: 20px; /* Отступ сверху для таблицы */
}

p {
    margin: 10px 0; /* Отступы для абзацев */
}

form {
    margin-top: 20px; /* Отступ сверху для форм */
}
.color-button {
    background-color: #4CAF50; /* Статический цвет фона кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    padding: 15px 32px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Убираем подчеркивание */
    display: inline-block; /* Позволяет использовать отступы */
    font-size: 16px; /* Размер шрифта */
    margin: 4px 2px; /* Внешние отступы */
    cursor: pointer; /* Указатель при наведении */
    border-radius: 8px; /* Закругленные углы */
}